* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Header */
.header {
  width: 100%;
}
.header .communication {
  width: 100%;
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: center;
}
.header .communication .wrepper {
  width: 1150px;
  height: 40px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e67e22;
  font: 12px "Open Sans", sans-serif;
}
.header .communication .wrepper .telephone, .header .communication .wrepper .mail {
  margin-top: 5px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.header .communication .wrepper .telephone img, .header .communication .wrepper .mail img {
  margin-right: 3px;
}
.sticky {
  width: 100%;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.header .main {
  height: 110px;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main .name_group {
  margin-top: 10px;
  font: 52px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #777;
  font-weight: 300;
}
.header .main .name_group :hover {
  cursor: pointer;
}
.header .main .nav {
  margin-top: 10px;
  height: 38px;
  display: flex;
}
.header .main .nav a {
  height: 20px;
  padding: 9px 20px;
  font: 12px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #777;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 20px;
}
.header .main .nav a:hover {
  background-color: #ff7600;
  color: #fff;
}
.header .main .nav a.active {
  background-color: #ff7600;
  color: #fff;
}

/* Welcome */
.welcome {
  width: 100%;
  height: 500px;
  background-image: url(../images/templatemo_carousel_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome .welcomeurb {
  position: relative;
  width: 100%;
  max-width: 60%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.welcome .welcomeurb .slider_wrapper .slide h1 {
  text-align: center;
  font: 36px "Open Sans", Arial, Helvetice Neue, sans-serif;
  text-transform: uppercase;
  margin: 20px 0 10px;
}
.welcome .welcomeurb .slider_wrapper .slide h3 {
  text-align: center;
  font: 21px "Open Sans", Arial, Helvetice Neue, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.welcome .welcomeurb .button {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome .welcomeurb .button a {
  height: 23px;
  font: 18px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #fff;
  padding: 10px 16px;
}
.welcome .welcomeurb .button .but_green {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  border-bottom: 2px solid #27ae60;
  margin-right: 24px;
}
.welcome .welcomeurb .button .but_green:hover {
  background-color: #27ae60;
  border: 1px solid #27ae60;
  border-bottom: 2px solid #27ae60;
}
.welcome .welcomeurb .button .but_orange {
  background-color: #ff7600;
  border: 1px solid #ff7600;
  border-bottom: 2px solid #d35400;
}
.welcome .welcomeurb .button .but_orange:hover {
  background-color: #d35400;
  border: 1px solid #d35400;
  border-bottom: 2px solid #d35400;
}
.welcome .welcomeurb .boxs {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 130px;
}
.welcome .welcomeurb .boxs li {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border: 1px solid #fff;
}
.welcome .welcomeurb .boxs li:hover {
  cursor: pointer;
}
.welcome .welcomeurb .boxs li.slide_active {
  background-color: #fff;
  transform: scale(1.2);
}
.welcome sidebar {
  width: 100%;
  height: 100%;
  max-width: 15%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.welcome sidebar:hover {
  cursor: pointer;
}
.welcome .left {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
}
.welcome .right {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
}
.welcome .left:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}
.welcome .right:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}
.welcome sidebar .sidebar_block {
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
}
.welcome sidebar:hover .sidebar_block{
  color: rgba(255, 255, 255, 1);
}
.welcome .left .sidebar_block {
  float: right;
}
.welcome .right .sidebar_block {
  float: left;
}



/* Welcome to Design */
.welcome_design {
  width: 100%;
  margin-bottom: 150px;
  position: relative;
}
.welcome_design .text_design {
  height: 200px;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcome_design .text_design h1 {
  font: 42px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #333;
  margin-bottom: 10px;
}
.welcome_design .text_design h1 .h1_design {
  color: #e67e22;
}
.welcome_design .text_design .paragraph {
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #929292;
  font-style: italic;
}
.welcome_design .text_design::after {
  content: "";
  display: block;
  position: absolute;
  top: 230px;
  width: 100%;
  height: 1px;
  background-color: lightgray;
}
.welcome_design .more {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 130px;
  width: 100%;
  max-width: 1150px;
}
.welcome_design .more .block_more {
  width: 32%;
  margin: 0 1.25%;
}
.welcome_design .more .block_more .img-h1 {
  text-transform: uppercase;
  font: 20px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #333;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.welcome_design .more .block_more .img-h1 span {
  margin-left: 15px;
}
.welcome_design .more .block_more .text-but {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.welcome_design .more .block_more .text-but p {
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #929292;
  width: 100%;
  text-align: justify;
  line-height: 1.428571429;
  margin-bottom: 5px;
}
.welcome_design .more .block_more .text-but .text_a {
  color: #428bca;
}
.welcome_design .more .block_more .text-but .text_a:hover {
  text-decoration: underline;
}
.welcome_design .more .block_more .text-but a:not(.text_a) {
  background-color: #ff7600;
  border: 1px solid #ff7600;
  border-bottom: 2px solid #d35400;
  font: 14px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 12px;
}
.welcome_design .more .block_more .text-but a:not(.text_a):hover {
  background-color: #d35400;
  border: 1px solid #d35400;
  border-bottom: 2px solid #d35400;
}

/* Our Team */
.our_team {
  width: 100%;
  height: 480px;
  background-image: url(../images/background.png);
  padding-top: 110px;
}
.our_team .top {
  width: 100%;
  max-width: 1150px;
}
.our_team .top .line {
  background-color: #fff;
}
.our_team .top .text_team {
  color: #fff;
}
.our_team .team_preview {
  margin: 80px auto 0;
  padding: 0 1%;
  width: 100%;
  max-width: 1138.5px;
  display: flex;
  justify-content: space-between;
}
.our_team .team_preview .photo-text {
  width: 23%;
  position: relative;
}
.our_team .team_preview .photo-text .contein {
  width: 100%;
  position: relative;
  display: inline-block;
}
.our_team .team_preview .photo-text .contein .rast {
  margin-top: 100%;
}
.our_team .team_preview .photo-text .contein .face {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.our_team .team_preview .photo-text .contein .info_team:hover {
  opacity: 1;
}
.our_team .team_preview .photo-text .contein .info_team {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
  background-color: rgba(220, 157, 102, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_team .team_preview .photo-text .contein .info_team .info_icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.our_team .team_preview .photo-text .contein .info_team .info_icon a {
  width: 41px;
  height: 41px;
  display: block;
  margin: 0 3px;
}
.our_team .team_preview .photo-text .contein .info_team .info_icon .fb {
  background-image: url(../images/social-icon-fb.png);
  background-position: -1px;
}
.our_team .team_preview .photo-text .contein .info_team .info_icon .fb:hover {
  background-image: url(../images/social-icon-fb-over.png);
}
.our_team .team_preview .photo-text .contein .info_team .info_icon .twit {
  background-image: url(../images/social-icon-twitter.png);
}
.our_team .team_preview .photo-text .contein .info_team .info_icon .twit:hover {
  background-image: url(../images/social-icon-twitter-over.png);
}
.our_team .team_preview .photo-text .contein .info_team .info_icon .in {
  background-image: url(../images/social-icon-linkedin.png);
  background-position: 0 -1px;
}
.our_team .team_preview .photo-text .contein .info_team .info_icon .in:hover {
  background-image: url(../images/social-icon-linkedin-over.png);
}
.our_team .team_preview .photo-text .text {
  display: flex;
  flex-direction: column;
}
.our_team .team_preview .photo-text .text h1, .our_team .team_preview .photo-text .text p {
  text-align: center;
  color: #fff;
  margin-top: 7px;
}
.our_team .team_preview .photo-text .text h1 {
  margin-bottom: 7px;
  font: 16px "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.our_team .team_preview .photo-text .text p {
  font: 12px "Open Sans", Arial, Helvetice Neue, sans-serif;
}

/* Our Portfolio */
.our_portfolio {
  width: 100%;
  padding-top: 110px;
}
.our_portfolio .photo_beautiful {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.our_portfolio .photo_beautiful .razdel {
  width: 100%;
  max-width: 1150px;
  text-align: center;
  margin: 95px auto 20px;
  font: 16px "Open Sans", Arial, Helvetice Neue, sans-serif;
  display: inline-block;
}
.our_portfolio .photo_beautiful .razdel span, .our_portfolio .photo_beautiful .razdel a {
  color: #333;
}
.our_portfolio .photo_beautiful .razdel span {
  margin: 0 0 0 5px;
}
.our_portfolio .photo_beautiful .razdel a.active, .our_portfolio .photo_beautiful .razdel a:hover {
  color: #e67e22;
  cursor: pointer;
}
.our_portfolio .photo_beautiful .photos {
  width: 100%;
  max-width: 1150px;
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.our_portfolio .photo_beautiful .photos .photo_block {
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  background-repeat: no-repeat; 
  /* transition: opacity .3s linear; */
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}
@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}
.our_portfolio .photo_beautiful .photos .tea {
  background-image: url(../images/gallery-image-1.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .breakfast {
  background-image: url(../images/gallery-image-2.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .green {
  background-image: url(../images/gallery-image-3.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .camera {
  background-image: url(../images/gallery-image-4.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .plant {
  background-image: url(../images/gallery-image-5.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .train {
  background-image: url(../images/gallery-image-6.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .city {
  background-image: url(../images/gallery-image-7.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .birds {
  background-image: url(../images/gallery-image-8.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .nature {
  background-image: url(../images/gallery-image-9.jpg);
  background-size: 100%;
}
.our_portfolio .photo_beautiful .photos .doggy {
  background-image: url(../images/gallery-image-10.jpg);
  background-size: cover;
}
.our_portfolio .photo_beautiful .photos .photo_hover {
  width: 100%;
  height: 100%;
  border: 2px solid #ff7600;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.2s linear;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our_portfolio .photo_beautiful .photos .photo_hover .dark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 0;
}
.our_portfolio .photo_beautiful .photos .photo_hover h3 {
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #fff;
  z-index: 1000;
}
.our_portfolio .photo_beautiful .photos .photo_hover .line-center {
  width: 70%;
  height: 1px;
  margin: 20px auto;
  background-color: #fff;
  z-index: 1000;
}
.our_portfolio .photo_beautiful .photos .photo_hover h1 {
  font: 18px "Open Sans", Arial, Helvetice Neue, sans-serif;
  text-transform: uppercase;
  color: #fff;
  z-index: 1000;
  margin-bottom: 20px;
}
.our_portfolio .photo_beautiful .photos .photo_hover:hover {
  cursor: pointer;
  opacity: 1;
}
.our_portfolio .photo_beautiful .load_more {
  display: block;
  margin: 30px auto;
  padding: 10px 16px;
  color: #fff;
  text-transform: uppercase;
  font: 18px "Open Sans", Arial, Helvetice Neue, sans-serif;
  background-color: #ff7600;
  border: 1px solid #ff7600;
  border-bottom: 2px solid #d35400;
}
.our_portfolio .photo_beautiful .load_more:hover {
  background-color: #d35400;
  border: 1px solid #d35400;
  border-bottom: 2px solid #d35400;
}

/* Blog Post */
.blog_post {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 220px;
  position: relative;
}
.blog_post .top {
  width: 100%;
  max-width: 1150px;
}
.blog_post .top .line {
  width: 40%;
}
.blog_post .top .right_line {
  margin-right: 4%;
}
.blog_post .top .text_team {
  width: 15.5%;
}
.blog_post .post::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -110px;
  width: 100%;
  height: 1px;
  background-color: lightgray;
}
.blog_post .post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  padding: 0 0.5%;
  width: 100%;
  max-width: 1150px;
  margin: 100px auto 0;
}
.blog_post .post .post-img {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
.blog_post .post .post-img img {
  float: left;
  margin-right: 40px;
}
.blog_post .post .post-img .post_text {
  padding-top: 3px;
  display: grid;
  grid-template-rows: 1.5fr 2.5fr;
  grid-template-columns: 1fr;
}
.blog_post .post .post-img .post_text p {
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #333;
  width: 100%;
  text-align: justify;
  line-height: 1.428571429;
  margin-bottom: 5px;
}
.blog_post .post .post-img .post_text .h-but {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blog_post .post .post-img .post_text .h-but h1 {
  font: 16px "Open Sans", Arial, Helvetice Neue, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}
.blog_post .post .post-img .post_text .h-but p {
  font: 12px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #333;
}
.blog_post .post .post-img .post_text .h-but p a {
  color: #e67e22;
}
.blog_post .post .post-img .post_text .h-but .but_orange {
  display: block;
  padding: 8px 12px;
  color: #fff;
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  background-color: #ff7600;
  border: 1px solid #ff7600;
  border-bottom: 2px solid #d35400;
}
.blog_post .post .post-img .post_text .h-but .but_orange:hover {
  background-color: #d35400;
  border: 1px solid #d35400;
  border-bottom: 2px solid #d35400;
}

/* Contact */
.contact {
  width: 100%;
}
.contact .top {
  width: 100%;
  max-width: 1150px;
}
.contact .top .line {
  width: 40%;
}
.contact .top .right_line {
  margin-right: 4%;
}
.contact .top .text_team {
  width: 15.5%;
}
.contact .call {
  width: 100%;
  max-width: 1150px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.contact .call .map {
  padding-right: 15px;
  padding-left: 0.5%;
}
.contact .call .map .map_canvas {
  width: 100%;
  height: 378px;
}
.contact .call .map .map-adress {
  color: #333;
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  margin: 15px 0;
  font-style: italic;
}
.contact .call .map .map-adress span {
  color: #e67e22;
}
.contact .call .call_form {
  padding: 0 15px;
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #333;
}
.contact .call .call_form p {
  margin-bottom: 10px;
  line-height: 1.428571429;
}
.contact .call .call_form .num-phone {
  padding-left: 2px;
}
.contact .call .call_form .num-phone img {
  margin-right: 5px;
}
.contact .call .call_form div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.contact .call .call_form div img {
  margin-right: 7px;
}
.contact .call .call_form div a {
  color: #e67e22;
}
.contact .call .call_form input, .contact .call .call_form textarea {
  width: 95%;
  margin-bottom: 15px;
  padding: 8px 12px;
  color: #555;
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  font-style: italic;
  border: 1px solid #ccc;
  border-radius: 0;
}
.contact .call .call_form input:focus, .contact .call .call_form textarea:focus {
  box-shadow: 0 0 20px -9px #1351B4;
  border-radius: 0;
}
.contact .call .call_form textarea {
  height: 115px;
  margin-bottom: 13px;
}
.contact .call .call_form input::-ms-input-placeholder, .contact .call .call_form textarea::-ms-input-placeholder {
  color: #ccc;
}
.contact .call .call_form input::placeholder, .contact .call .call_form textarea::placeholder {
  color: #ccc;
}
.contact .call .call_form .but_orange {
  float: right;
  padding: 8px 12px;
  color: #fff;
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  text-transform: uppercase;
  margin-right: 8px;
  background-color: #ff7600;
  border: 1px solid #ff7600;
  border-bottom: 2px solid #d35400;
}
.contact .call .call_form .but_orange:hover {
  background-color: #d35400;
  border: 1px solid #d35400;
  border-bottom: 2px solid #d35400;
}
.contact .footer_contact {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  background-color: #8996a0;
  font: 20px "Open Sans", sans-serif;
  color: #fff;
  border-bottom: 2px solid lightgray;
  margin-bottom: 50px;
}
.contact .footer_contact .contein_foot {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 100px;
  display: flex;
  height: 100%;
}
.contact .footer_contact .contein_foot .numone {
  width: 20%;
  padding-top: 20px;
}
.contact .footer_contact .contein_foot .numone img {
  float: right;
}
.contact .footer_contact .contein_foot .vertical_line {
  width: 2px;
  background-color: #fff;
  height: 80%;
  margin: auto 15px auto 5px;
}
.contact .footer_contact .contein_foot .numtwo {
  width: 56.5%;
  padding-top: 20px;
  line-height: 1.428571429;
}
.contact .footer_contact .contein_foot .numtwo .who_where {
  color: #ffff33;
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  float: right;
}

/* Partners */
.partners {
  width: 100%;
  position: relative;
}
.partners .top {
  margin-top: 100px;
}
.partners .partners_img {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
  box-sizing: border-box;
}
.partners .partners_img img {
  width: 100%;
}
.partners .partners_img:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  bottom: -100px;
  left: 0;
}

/* Footer */
.footer {
  width: 100%;
  margin-top: 160px;
}
.footer .footer_nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.footer .footer_nav a {
  width: 42px;
  height: 42px;
  display: block;
  background-size: cover;
  margin: 0 7px;
}
.footer .footer_nav .fb_foot {
  background-image: url(../images/social-icon-fb.png);
}
.footer .footer_nav .fb_foot:hover {
  background-image: url(../images/social-icon-fb-over.png);
}
.footer .footer_nav .rss_foot {
  background-image: url(../images/social-icon-rss.png);
}
.footer .footer_nav .rss_foot:hover {
  background-image: url(../images/social-icon-rss-over.png);
}
.footer .footer_nav .twit_foot {
  background-image: url(../images/social-icon-twitter.png);
}
.footer .footer_nav .twit_foot:hover {
  background-image: url(../images/social-icon-twitter-over.png);
}
.footer .footer_nav .link_foot {
  background-image: url(../images/social-icon-linkedin.png);
}
.footer .footer_nav .link_foot:hover {
  background-image: url(../images/social-icon-linkedin-over.png);
}
.footer .footer_nav .drib_foot {
  background-image: url(../images/social-icon-dribbble.png);
}
.footer .footer_nav .drib_foot:hover {
  background-image: url(../images/social-icon-dribbble-over.png);
}
.footer .but-foot {
  display: flex;
  justify-content: center;
}
.footer .but-foot .back-top {
  padding: 12px 16px;
  color: #fff;
  font: 18px "Open Sans", Arial, Helvetice Neue, sans-serif;
  box-sizing: border-box;
  background-color: #ff7600;
  border: 1px solid #ff7600;
  border-bottom: 2px solid #d35400;
}
.footer .but-foot .back-top:hover {
  background-color: #d35400;
  border: 1px solid #d35400;
  border-bottom: 2px solid #d35400;
}
.footer .text-foot {
  display: flex;
  justify-content: center;
  margin: 50px 0 30px;
  font: 14px "Open Sans", Arial, Helvetice Neue, sans-serif;
  color: #555;
}
.footer .text-foot a {
  color: #428bca;
}
.footer .text-foot a:hover {
  text-decoration: underline;
}

/* Bread */
.top {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.top .line {
  width: 40.5%;
  height: 2px;
  background-color: lightgray;
}
.top .right_line {
  margin-right: 0.5%;
}
.top .left_line {
  margin-left: 0.5%;
}
.top .text_team {
  padding-top: 2px;
  width: 18%;
  text-align: center;
  color: #333;
  font: 18px "Open Sans", Arial, Helvetice Neue, sans-serif;
  text-transform: uppercase;
}